@use "../global/" as *;

@mixin flex($direction, $justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

header {
  background-color: $black;
  height: 80px;
  padding: 1rem 0;
  .container {
    max-width: 1000px;
    margin: 0 auto;
    @include flex(row, space-between, center);
  }
  img {
    height: auto;
    width: 100px;
  }
  ul {
    display: flex;
    list-style: none;
  }
  li+li::before {
    content: " ";
    margin-right: 1rem;
  }
  .nav-links {
    color: $white;
    font-size: xx-large;
    text-decoration: none;
  }
  a {
    color: $white;
  }
}

svg {
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 3rem; // Adjust the width as needed
  height: 3rem; // Adjust the height as needed
}
