* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Hagin Caps Medium", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 130rem !important;
  margin: 0 auto !important;
  padding: 0 2.5rem !important;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #db00d9 #ffffff;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 12px;
  width: 12px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #ba04b7;
  border: 1px solid #ffffff;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #ed00eb;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #ed00eb;
}

.loader {
  margin: 10rem auto;
  width: 64px;
  height: 64px;
  position: relative;
  background-image: linear-gradient(#fff 16px, transparent 0), linear-gradient(#ff00ea 16px, transparent 0), linear-gradient(#ff00ea 16px, transparent 0), linear-gradient(#fff 16px, transparent 0);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: left top, left bottom, right top, right bottom;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    width: 64px;
    height: 64px;
    transform: rotate(0deg);
  }
  50% {
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
  }
  100% {
    width: 64px;
    height: 64px;
    transform: rotate(360deg);
  }
}
header {
  background-color: #1C1C1C;
  height: 80px;
  padding: 1rem 0;
  font-family: "Hagin Caps Medium", sans-serif;
}
header .container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
header img {
  height: auto;
  width: 100px;
}
header ul {
  display: flex;
  list-style: none;
}
header li + li::before {
  content: " ";
  margin-right: 2rem;
}
header .nav-links {
  color: #FFF3EE;
  font-size: 3.4rem;
  text-decoration: none;
}
header a {
  color: #FFF3EE;
}

svg {
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 3rem;
  height: 3rem;
}

.hero-wrapper {
  background-image: url("https://cdn.choosechicago.com/uploads/2022/11/2-0200-scaled-e1668009159934-1800x868.jpg");
  background-position: center;
  height: 600px;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 3rem;
}

.grid-wrapper {
  box-sizing: border-box;
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 3rem;
}
.grid-wrapper .nested-grid {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr;
}
.grid-wrapper .nested-grid:first-child .grid-item:nth-child(2), .grid-wrapper .nested-grid:first-child .grid-item:nth-child(3), .grid-wrapper .nested-grid:last-child .grid-item:nth-child(2), .grid-wrapper .nested-grid:last-child .grid-item:nth-child(3) {
  background-color: rgb(36, 10, 10);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.grid-wrapper .nested-grid:first-child h1, .grid-wrapper .nested-grid:last-child h1 {
  font-size: 2.2rem;
  color: #FFF3EE;
}
.grid-wrapper .nested-grid:first-child p, .grid-wrapper .nested-grid:last-child p {
  color: #FFF3EE;
  font-family: "Poppins", sans-serif;
}
.grid-wrapper .nested-grid:nth-child(2) .grid-item:nth-child(2), .grid-wrapper .nested-grid:nth-child(2) .grid-item:nth-child(3) {
  background-color: rgb(243, 240, 225);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.grid-wrapper .nested-grid:nth-child(2) .grid-item:nth-child(2) h1, .grid-wrapper .nested-grid:nth-child(2) .grid-item:nth-child(3) h1 {
  font-size: 2.2rem;
  color: #1C1C1C;
}
.grid-wrapper .nested-grid:nth-child(2) .grid-item:nth-child(2) p, .grid-wrapper .nested-grid:nth-child(2) .grid-item:nth-child(3) p {
  color: #1C1C1C;
  font-family: "Poppins", sans-serif;
}
.grid-wrapper .nested-grid .grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid #1C1C1C;
}
.grid-wrapper .nested-grid .grid-item p {
  text-align: justify;
}
.grid-wrapper .nested-grid .grid-item:first-child {
  grid-row: 1/1;
  grid-column: 1/span 2;
  border: 1px solid #1C1C1C;
}
.grid-wrapper .nested-grid .grid-item:first-child h1 {
  font-size: 4.2rem;
  color: #1C1C1C;
}
.grid-wrapper .nested-grid .grid-item:nth-child(2) {
  grid-row: 2/span 1;
  grid-column: 1/1;
}
.grid-wrapper .nested-grid .grid-item:nth-child(3) {
  grid-row: 2/span 1;
  grid-column: 2/2;
}

.social-wrapper {
  height: 400px;
  border: 1px solid #1C1C1C;
  margin: 0 3rem 3rem 3rem;
}/*# sourceMappingURL=styles.css.map */